body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #333333;
    color: whitesmoke;
}